@tailwind base;
@tailwind components;
@tailwind utilities;
html{
   margin-bottom: 0px;
}

body{
   font-family: 'Roboto', sans-serif;
   /* background-image: radial-gradient(circle at 82% 60%, rgba(78,78,78, 0.06) 0%, rgba(78,78,78, 0.06) 69%,transparent 69%, transparent 100%),radial-gradient(circle at 36% 0%, rgba(78,78,78, 0.06) 0%, rgba(78,78,78, 0.06) 59%,transparent 59%, transparent 100%),radial-gradient(circle at 58% 82%, rgba(78,78,78, 0.06) 0%, rgba(78,78,78, 0.06) 17%,transparent 17%, transparent 100%),radial-gradient(circle at 71% 32%, rgba(78,78,78, 0.06) 0%, rgba(78,78,78, 0.06) 40%,transparent 40%, transparent 100%),radial-gradient(circle at 77% 5%, rgba(78,78,78, 0.06) 0%, rgba(78,78,78, 0.06) 52%,transparent 52%, transparent 100%),radial-gradient(circle at 96% 80%, rgba(78,78,78, 0.06) 0%, rgba(78,78,78, 0.06) 73%,transparent 73%, transparent 100%),radial-gradient(circle at 91% 59%, rgba(20,20,20, 0.06) 0%, rgba(20,20,20, 0.06) 44%,transparent 44%, transparent 100%),radial-gradient(circle at 52% 82%, rgba(78,78,78, 0.06) 0%, rgba(78,78,78, 0.06) 87%,transparent 87%, transparent 100%),radial-gradient(circle at 84% 89%, rgba(78,78,78, 0.06) 0%, rgba(78,78,78, 0.06) 57%,transparent 57%, transparent 100%),linear-gradient(173deg, rgb(0,0,0),rgb(0,0,0));
   height: 100%; */
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
 
}
